@import "tailwindcss";


body {
  background-color: #FFFCFB;
  font-family: 'Geist', sans-serif;
}

@theme {
  --animate-arc-swing: arc-swing 300ms ease-in-out infinite alternate;
  --animate-scale-rotate: scale-rotate 1s ease-in-out infinite;
  --animate-spin: spin 1s ease-in-out infinite alternate;
  --animate-gitlab-swing: arc-swing 300ms ease-in-out 3 alternate;
  --animate-tailwind-wave: tailwind-wave 1s ease-in-out infinite;
  --animate-rotateZ: rotateZ 1s ease-in-out infinite;
  --font-sans: 'Geist', sans-serif;
  --font-geo: 'Geo', serif;
  
  @keyframes arc-swing {
    0% {
      transform: rotate(330deg);
    }
    100% {
      transform: rotate(400deg);
    }
  }

  @keyframes scale-rotate {
    0% {
      transform: scale(0.5) rotate(0deg);
    }
    50% {
      transform: scale(1) rotate(180deg);
    }
    100% {
      transform: scale(0.5) rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes tailwind-wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes rotateZ {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}
